[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
pandas = "*"
geopy = "*"
geojson = "*"
pylint = "*"
bottle = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.6"
